@import 'normalize.css';

//fonts
@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'SofiaPro';
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}
//root
:root {
    --primary: #fe2c55;
    --white: #fff;
    --DefaultLayout-Header-height: 60px;
    --DefaultLayout-Header-width: 1150px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
    border: none;
    outline: none;
}
a[href] {
    text-decoration: none;
    color: #333;
}
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        line-height: 2.2rem;
    }
    .tippy-content {
        font-size: 1.6rem;
        font-weight: 500;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}
