.search-result {
    width: 361px;
}
.search-title {
    color: rgb(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}
.search {
    display: flex;
    width: 361px;
    height: 46px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding-left: 16px;
    position: relative;
    border: 1.5px solid transparent;
    input {
        flex: 1;
        color: #000;
        font-size: 1.6rem;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &::after {
        content: '';
        top: 9px;
        height: 28px;
        width: 1px;
        position: absolute;
        right: 52px;
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.loadding,
.close {
    width: 52px;
    color: rgba(22, 24, 35, 0.34);
    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
}
.loadding {
    animation: spinner 1s linear infinite;
}
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 1.8rem;
    color: #aaa;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
