.wrapper {
    width: 320px;
    height: 171px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    Button {
        min-width: 106px;
        min-height: 34px;
        padding: 6px 16px;
    }
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}
.nickname {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 22px;
}
.icon {
    margin-left: 4px;
    color: #3edbef;
}
.name {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 20px;
}
.analytics {
    margin-top: 8px;
    font-size: 1.8rem;
    .value {
        margin-right: 6px;
    }
    .label {
        margin-right: 12px;
    }
}
