.wrapper {
    width: 100%;
    height: var(--DefaultLayout-Header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--DefaultLayout-Header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
}

.more-btn {
    background-color: transparent;
    margin-left: 20px;
    font-size: 2rem;
    padding: 4px 8px;
    cursor: pointer;
}
.action {
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-btn {
    background-color: transparent;
    font-size: 2rem;
    width: 32px;
    height: 32px;
    margin-right: 20px;
}
.user-Avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
