.wrapper {
    width: 100%;
    height: var(--DefaultLayout-Header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 9;
}
.inner {
    height: 100%;
    width: var(--DefaultLayout-Header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
}

.more-btn {
    background-color: transparent;
    margin-left: 20px;
    font-size: 2rem;
    padding: 4px 8px;
    cursor: pointer;
}
.action {
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-btn {
    background-color: transparent;
    font-size: 2rem;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.user-Avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.logoLink {
    display: flex;
    width: 300px;
}
.upload-icon {
    margin-right: 20px;
}
.messages-content {
    position: relative;
}
.index-message {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: -5px;
}
